#container{
    text-align: left;
    color: #000;
    padding: 1rem;
    border: solid;
    width: 70%;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;

}

#cabecera{
    text-align: center;
    color: blue;
    text-decoration: underline;
}